<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <file>./app/ClubpluginRequest.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/build/coverage"/>
    </logging>
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
    </php>
</phpunit>
